<div class="top-bar">
    <div class="navbar-left">
        <a href="index.html" id="home-link" class="logo-name">
            <img src="../src/images/logo.png" alt="Company Logo" class="logo">
            <span class="company-name">Tarance</span>
        </a>

        <div class="nav-dropdown">
            <button id="products-btn" class="nav-dropdown-btn">
                Products
                <svg xmlns="../src/icons/downkey.svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </button>
            <div id="products-dropdown-content" class="nav-dropdown-content">
                <a href="plan-health.html">Health Insurance</a>
                <a href="plan-life.html">Life Insurance</a>
                <a href="plan-car.html">Car Insurance</a>
            </div>
        </div>
    </div>
        
    <div id="user-nav" class="login-signup"></div>
</div>